* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*-- ----menu-section------*/
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px 0 #868585;
}

.logo img {
    width: 60px;
}

.nav-menu {
    display: flex;
}

.nav-menu li {
    list-style: none;
    margin-right: 5px;
    padding: 5px 7px;
}

.nav-menu li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

.user-ariya {
    margin: 0px 5px;
}

.hero-section {
    display: flex;
    height: 60vh;
    align-items: center;
    background-image: linear-gradient(to right, #f8d01b00, #f8d01b85);
}

/* ---hero-section----- */
.hero-text {
    font-size: 1.8rem;
    width: 50%;
    line-height: 1.5;
}

.hero-text p {
    font-size: 16px;
}

.hero-btn {
    background-color: #F8D11B;
}

.hero-img {
    width: 50%;
    display: flex;
    justify-content: center;
}

/* ----exist-section----- */
.exist{
    margin-top: 50PX;
}
.exist-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    justify-items: center;
}

.grids-body {
    width: 270px;
    border-radius: 10px;
    border: 1px solid #33345831;
    cursor: pointer;
}
.grids-body:hover{
    transition: .5s linear;
    box-shadow: 0 0 10px 0 #868585;
}

.grids-body img {
    width: 270px;
    border-radius: 10px 10px 0px 0px;
}

.grid-para {
    margin: 10px;
}

/* -----product-section----- */
.product {
    margin-top: 50px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.product-grids-body {
    /* width: 380px;
    height: 354px; */
    margin: auto;
    border: 1px solid #33345831;
    border-radius: 10px;
    cursor: pointer;
}
.product-grids-body:hover{
    transition: .5s linear;
    box-shadow: 0 0 10px 0 #868585;
}
.product-grids-body>img {
    border-radius: 10px 10px 0px 0px;
    width: 380px;
    height: 354px;
}

.product-para {
    display: flex;
    margin: 5px 20px;
    align-items: center;
}

.product-para-img>img {
    width: 60px;
    border-radius: 50px;
    margin-right: 15px;
}
/* -----how-it-works------ */
.how-it-works{
    margin-top: 50px;
}
/* -------works-and-review-section-header-start----- */
.work-and-review-section-header{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    align-items: center;
    text-align: center;
}
.work-and-review-section-header h2{
    color: #333458;
    line-height: 55px;
}
.work-and-review-section-header p{
    font-size: 16px;
    width: 60%;
}
/* -------works-and-review-section-header-end----- */
.work-section-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}
.work-card{
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #33345831;
}
.work-card:hover{
    transition: .5s linear;
    box-shadow: 0 0 10px 0 #868585;
}
.work-card-sl{
    text-align: right;
    padding: 25px;
    margin-bottom: -30px;
    font-size: 50px;
    color: rgb(253 246 231);
}
.work-card-icon{
    display: inline-block;
    border-radius: 10px;
    margin: -45px 5px 0px 25px;
    padding: 15px;
    font-size: 45px;
    background-color: #F8D11B;
}
.work-card-text{
    color: #333458;
    margin: 15px 5px 0px 25px;
}
.work-card-text h2{
    margin: 40px 0px 40px 0px;
}
.work-card-text p{
    margin: 10px 0px 57px 0px;
}
.review{
    margin-top: 60px;
}
/* ------review-section----- */
.review-card-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}
.review-card{
    border: 1px solid #33345831;
    border-radius: 10px;
}
.review-card:hover{
    transition: .5s linear;
    box-shadow: 0 0 10px 0 #868585;
}
.review-card-style{
    font-size: 80px;
    text-align: right;
    margin: 10px;
    color: #E7E7E7;
}
.review-para{
    display: flex;
    margin: -70px 15px 15px 15px;
    align-items: center;
}
.review-para-img img{
    border-radius: 50%;
    width: 60px;
}
.reviewr-name-deg{
    margin: 15px;
}
.review-card-text{
    margin: 15px;
}
.rating{
    margin: 15px;;
}
.rating i{
    color: #F8D11B
}
/* -----owner-section------ */
.owner-section{
    margin-top: 90px;
    margin-bottom: 25px;
}
.owner-header{
    text-align: center;
    color: #333458;
    margin-bottom: 130px;
}
.owner-card-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
}
.owner-card{
    border: 1px solid #33345831;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.owner-card:hover{
    transition: .5s linear;
    box-shadow: 0 0 10px 0 #868585;
}
.owner-card-img img{
    margin-top: -80px;
    width: 150px;
}
.owner-social-icon{
    margin: 25px auto;
}
.name-desig{
    width: 100%;
    background-color:#F3F3F3;;
    padding: 15px 0px 25px 0px;
    text-align: center;
    border-radius: 0px 0px 10px 10px ;
}
.name-desig:hover{
    transition: 1s linear;
    background-color: #F8D11B;
}
.details-btn-section{
    margin: 50px 0px;
    text-align: center;
}
button{
    border: none;
}
.details-btn{
    text-decoration: none;
    text-align: center;
    border: 1px solid #333458;
    background-color: #333458;
    color: white;
    padding: 20px 45px;
    border-radius: 35px;
    margin: 0px 5px;
}
/* -------brand-section------ */
.brand-box-ariya{
    display: block;
    position: relative;
    margin: 0px 7.5% -68px 7.5%;
    border-top: 15px solid #F8D11B;
    border-radius: 10px 10px 0px 0px;
    
}
.brand-section{
    margin: 0px -10%;
    padding: 0px 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #333458;
    background-color: #F3F3F3;
}
.brand-ariya{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
    cursor: pointer;
}
.brand-devider{
    margin: 0px 25px;
    display: inline-block;
    height: 40px;
    width: 2px;
    background-color: #333458;
}
/* -----footer-section-------- */
footer{
    background-color: #262626;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content:space-around;
    color: #ffff;
}
.footer-short-bio img{
    width: 60px;
    padding: 15px 0px 10px 0px;
}
.footer-col{
    margin: 60px 0px 40px 0px;
    width: 25%;
}
.footer-short-bio{
    padding-right: 20px;
}
.footer-link ul li{
    list-style: none;
}
.copyright-ariya{
    padding-bottom: 25px;
    text-align: left;
    color: white;
}