* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*-- ----menu-section------*/
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px 0 #868585;
}

.logo img {
    width: 60px;
}

.nav-menu {
    display: flex;
}

.nav-menu li {
    list-style: none;
    margin-right: 5px;
    padding: 5px 7px;
}

.nav-menu li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

.user-ariya {
    margin: 0px 5px;
}

.hero-section {
    display: flex;
    height: 60vh;
    align-items: center;
    background-image: linear-gradient(to right, #f8d01b00, #f8d01b85);
}

/* ---hero-section----- */
.hero-text {
    font-size: 1.8rem;
    width: 50%;
    line-height: 1.5;
}

.hero-text p {
    font-size: 16px;
}

.hero-btn {
    background-color: #F8D11B;
}

.hero-img {
    width: 50%;
    display: flex;
    justify-content: center;
}

/* ----exist-section----- */
.exist{
    margin-top: 50PX;
}
.exist-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    justify-items: center;
}

.grids-body {
    width: 270px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #868585;
}

.grids-body img {
    width: 270px;
    border-radius: 10px;
}

.grid-para {
    margin: 10px;
}

/* -----product-section----- */
.product {
    margin-top: 50px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.product-grids-body {
    /* width: 380px;
    height: 354px; */
    margin: auto;
    box-shadow: 0 0 10px 0 #868585;
    border-radius: 10px;
}

.product-grids-body>img {
    border-radius: 10px;
    width: 380px;
    height: 354px;
}

.product-para {
    display: flex;
    margin: 5px 20px;
    align-items: center;
}

.product-para-img>img {
    width: 60px;
    border-radius: 50px;
    margin-right: 15px;
}
/* -----how-it-works------ */
.how-it-works{
    margin-top: 50px;
    margin-bottom: 15px;
}
.work-and-review-section-header{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    align-items: center;
    text-align: center;
}
.work-and-review-section-header h2{
    color: #333458;
    line-height: 55px;
}
.work-and-review-section-header p{
    font-size: 16px;
    width: 60%;
}
.work-section-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}
.work-card{
    box-shadow: 0 0 10px 0 #868585;
    border-radius: 10px;
}
.work-card-sl{
    text-align: right;
    padding: 25px;
    margin-bottom: -30px;
    font-size: 50px;
    color: rgb(253 246 231);
}
.work-card-icon{
    display: inline-block;
    border-radius: 10px;
    margin: -45px 5px 0px 25px;
    padding: 15px;
    font-size: 45px;
    background-color: #F8D11B;
}
.work-card-text{
    color: #333458;
    margin: 15px 5px 0px 25px;
}
.work-card-text h2{
    margin: 40px 0px 40px 0px;
}
.work-card-text p{
    margin: 10px 0px 57px 0px;
}
.review{
    margin-top: 60px;
}